ul, ol {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    font-style: normal;
}

body {
    background-color: #E5E5E5;
    font-family: "Roboto", sans-serif;
}

.header-nav {
}

.header-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    cursor: pointer;
}

.logo-nav{
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.nav-list {

}

.nav-link {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus{
color: #404bbf;
}

.nav-link:active{
color: #404bbf;
}

.header-address {
}

.address-link {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-link:hover,
.address-link:focus{
color: #404bbf;
}

.hero {
}

.hero-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}

.about {
}

.about-title {
}

.about-subtitle {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.about-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-subtitle {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-description {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.portfolio {
}

.portfolio-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfolio-subtitle {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px; 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
}

.footer-logo {
font-family: "Raleway", sans-serif;
text-transform: uppercase;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
cursor: pointer;
}

.logo-span {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}

.footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-subtitles {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}