*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;

}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-nav {
    display: flex;
}

.header-logo {
    display: block;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    cursor: pointer;
    padding: 25px 0 25px 15px;
}

.nav-ul {
    display: flex;
    gap: 40px;
    margin-left: 76px;
    padding: 24px 0;
}

.logo-nav {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;

}

.nav-list {
    position: relative;

}

.nav-element:active::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    position: absolute;
    top: 44px;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 300ms linear;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link:active {
    color: #404bbf;
}

.header-address {}

.header-address-ul {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    margin-right: 15px;
}

.address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 300ms linear;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.container-hero {
    width: 1440;
    min-height: 600px;
    padding: 188px 337px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    min-width: 496px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

.hero-button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    border: none;
    background-color: var(--IRIS, #4D5AE5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 300ms linear;
}

.hero-button:hover{
background-color: #404BBF;
}

.about {}

.about-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-about {
    padding: 118px 15px;
}

.about-ul {
    display: flex;
    gap: 24px;

}

.about-icons {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.about-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

#team {
    background-color: #F4F4FD;
}

.team-container {
    padding: 120px 15px;
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.team-ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 72px;
}

.team-subtitle {
    padding-top: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.team-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-icons-ul {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 0px;

}

.team-icons-li {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms linear;
}

.team-icons-li:hover,
 .team-icons-li:focus{
    background-color: #404BBF
}

.team-icons-li svg {
    fill: #fff;
}

.team-member {
    padding-bottom: 32px;
    border-radius: 0 0 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio {}

.portfolio-container {
    padding: 120px 15px;
}

.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 20px;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-list {
    border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
    padding-bottom: 32px;
}

.portfolio-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-left: 16px;
    padding-top: 32px;
}

.portfolio-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
}

.footer {
    background-color: #2E2F42;
}

.footer-container {
    min-height: 312px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

}

.footer-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    cursor: pointer;
    padding-left: 15px;
}

.logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    padding-left: 15px;
}

.footer-subtitles {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.footer-first-div{
   display: flex;
   flex-direction: column;
   gap: 18px;
}

.footer-title {
    color: var(--WHITE, #FFF);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer-icons{
    display: flex;
    margin-left: 120px;
    flex-direction: column;
    gap: 16px;
}

.footer-icons-ul {
    display: flex;
    justify-content: space-around;
    gap: 16px;

}

.footer-icons-li {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms linear;
}

.footer-icons-li:hover,
.footer-icons-li:focus
{
    background-color: #31D0AA;
}

.footer-icons-li svg {
    fill: #fff;
}